@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/heavyweight");

body {
  background: black;
}

@responsive {
  .text-shadow-orange {
    text-shadow: 0 0 0.07em #d68c5c;
  }

  .text-shadow-red {
    text-shadow: 0 0 0.07em #e04852;
  }
}
