@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/heavyweight");

h1,
h2 {
  font-family: "Heavyweight";
  text-shadow: 0 0 0.07em #d68c5c;
  filter: blur(0.007em);
}
