@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/heavyweight");
@import url("https://fonts.cdnfonts.com/css/daggersquare");

// -----------------------------
// Text decorators
// -----------------------------

.text-shadow-orange {
  text-shadow: 0 0 0.07em #d68c5c;
}

.text-shadow-red {
  text-shadow: 0 0 0.07em #e04852;
}

.text-shadow-blue {
  text-shadow: 0 0 0.07em #bbfff7;
}

@layer components {
  body {
    @apply bg-black;

    @apply selection:text-black;
    @apply selection:bg-orange-400;
  }

  // -----------------------------
  // Text defaults for main page
  // -----------------------------

  h1,
  h2,
  p {
    @apply text-orange-400;
    @apply font-title;
    @apply text-shadow-orange;

    @apply transition;
    @apply duration-200;
  }

  h1 {
    @apply text-7xl;
    @apply text-center;
  }

  h2 {
    @apply text-4xl;
  }

  p {
    @apply text-5xl;
  }

  label,
  a {
    @apply text-red;
    @apply text-shadow-red;
  }

  a:hover {
    @apply underline;
    @apply decoration-red;
    @apply underline-offset-4;
  }

  small {
    @apply text-orange-100;
  }

  // -----------------------------
  // Text overrides for about page
  // -----------------------------

  .about-text {
    @apply text-orange-100;
    @apply text-2xl;
    @apply font-sans;
  }

  p.about-text {
    @apply mb-8;
  }

  // -----------------------------
  // Input defaults
  // -----------------------------
  input,
  button,
  a {
    @apply focus:outline-none;
    @apply focus:border-orange-400;
    @apply focus:outline-orange-400;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"] {
    @apply bg-orange-100;
    @apply border-2;
    @apply border-orange-100;
    @apply border-b-orange-400;
    @apply w-full;
    @apply p-2;
    @apply text-2xl;
    @apply text-black;
    @apply placeholder-gray;
    @apply rounded-sm;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply appearance-none;
    @apply h-5;
    @apply w-5;
    @apply mr-2;
    @apply cursor-pointer;
    @apply mt-1;
    @apply md:mt-2;
    @apply align-top;
    @apply float-left;

    @apply transition;
    @apply duration-200;

    // Switch background & border on check
    @apply border;
    @apply border-orange-400;
    @apply bg-orange-100;
    @apply checked:bg-orange-400;
    @apply checked:border-orange-100;
  }

  input[type="checkbox"] {
    @apply rounded-sm;
  }

  input[type="radio"] {
    @apply rounded-full;
  }

  input[type="file"] {
    @apply px-3;
    @apply py-1.5;
    @apply text-base;
    @apply rounded-sm;
  }

  button {
    @apply py-2;
    @apply px-4;
    @apply text-orange-100;
    @apply rounded-sm;
    @apply text-3xl;

    @apply transition;
    @apply duration-200;

    @apply border;
    @apply border-orange-400;
    @apply hover:border-transparent;
    @apply bg-transparent;
    @apply hover:bg-orange-400;
  }

  .check-label {
    text-shadow: none;
    @apply text-xl;
    @apply md:text-2xl;
    @apply text-orange-100;

    @apply peer-checked:text-red;
    @apply transition;
    @apply duration-200;
  }

  // -----------------------------
  // Overrides for PO3 theme
  // -----------------------------

  .po3 {
    @apply selection:text-black;
    @apply selection:bg-blue-400;

    // -----------------------------
    // Text defaults for main page
    // -----------------------------

    h1,
    h2,
    p {
      @apply font-po3;
      @apply text-blue-400;
      @apply text-shadow-blue;
    }

    p {
      font-size: 2.6rem;
      padding-top: 6.8px;
    }

    small {
      @apply text-blue-100;
    }

    // -----------------------------
    // Input defaults
    // -----------------------------

    input,
    button,
    a {
      @apply focus:border-blue-400;
      @apply focus:outline-blue-400;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"] {
      @apply bg-blue-100;
      @apply border-blue-100;
      @apply border-b-blue-400;
    }

    input[type="checkbox"],
    input[type="radio"] {
      @apply border-blue-400;
      @apply bg-blue-100;
      @apply checked:bg-blue-400;
      @apply checked:border-blue-100;
    }

    button {
      @apply text-blue-100;
      @apply border-blue-400;
      @apply hover:bg-blue-400;
    }

    .check-label {
      @apply text-blue-100;
    }
  }

  // -----------------------------
  // Utility class
  // -----------------------------

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
